<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <form method="get" action="/sendMessage">
    <textarea style="width: 500px;height: 200px" name="messgae"></textarea>
    <br/>
    <input type="submit" value="Send"/>
  </form>

  </body>
</html>
